html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/img/modacenter1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.containerPage{
    display: flex;
    justify-content: space-around;
}

.imgMapeamento img {
    position: absolute;
    margin-top: 2.5rem;
    width: 220px;
    height:500px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 1360px) {
    .imgMapeamento {
        display: none;
    }
}
@media (max-width: 1200px) {
    .btnModa {
        display: none;
    }
}



.documento {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20mm;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
}


.infoRemetente {
    margin-top: -1rem;
    color: black;
}

#formularioExcursao {
    width: auto;
}

h2 {
    margin: auto;
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

form {
    width: 600px;
    background-color: #f9f9f9;
    padding: 1em;
    margin: auto;

}

input {
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    margin-bottom: 1rem;
}


/* p {
    color: #000000;
} */


/* Estilos de botão*/

button {
    display: block;
    margin: 20px auto;
}

#preencherBtn {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    /* margin: 12px 0 0; */
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
}

#preencherBtn:disabled {
    cursor: default;
}

#preencherBtn:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.btnModa{
    /* position: absolute; */
    flex-direction: column;
    top: 8px;
    margin-left: 8px;
}
.btnModa a {
    display: block;
    text-decoration: none;
    background-color: #ffa600;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
    /* position: absolute; */
    text-align: center;
    width: 250px;
}